@use "variables";

body {
  margin: 0;
  background-color: variables.$bg-color;
  color: var(--text-color);
  font-size: 140px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 20px;
}
